<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*
    <h1>Global section</h1>
    <p>Username: @Model.Username</p>
    *@

    <div class="forum-header">
        <div class="container">
            <div class="clearfix header">
                <h2 class="pull-left">&micro;-cosm</h2>
                @if (Request.IsAuthenticated && User.IsInRole("Administrators"))
                {
                    <div class="pull-right">
                        @Html.ActionLink("Admin CP", "Index", "Admin")
                    </div>
                }
            </div>
            <div class="clearfix navigation">
                <div class="pull-left">
                    @Html.ActionLink("Board index", "Index", "Home")
                </div>
                @if (!(LayoutModel.CurrentController == "User" && (LayoutModel.CurrentAction == "Login" || LayoutModel.CurrentAction == "Register")))
                {
                    <div class="pull-right">
                        @if(Request.IsAuthenticated)
                        {
                            @:Logged in as @(LayoutModel.CurrentUser.Name). @Html.ActionLink("Log off", "LogOff", "User")
                        }
                        else
                        {
                            @:You are not logged in. @Html.ActionLink("Login", "Login", "User") or @Html.ActionLink("register", "Register", "User")
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
