@model Forum.ViewModels.ViewModelWrapper<Forum.Models.EditGroupModel>
@{
    ViewBag.Title = "Group Permissions";
}

<h2>Editing group @Model.InnerModel.Group.Name</h2>

<h3>Permissions</h3>

@using(Html.BeginForm("EditGroupPermissions", "Admin"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.InnerModel.GroupId);

    foreach (var key in Model.InnerModel.Permissions.Keys)
    {
        @Html.CheckBoxFor(m => m.InnerModel.Permissions[key])
        @Html.LabelFor(m => m.InnerModel.Permissions[key], key) <br />
    }
    
    <input type="submit" value="Update Permissions" />
}

<h3>Name</h3>
@using(Html.BeginForm("EditGroupName", "Admin"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.InnerModel.GroupId);

    @Html.LabelFor(m => m.InnerModel.NewName)
    @Html.TextBoxFor(m => m.InnerModel.NewName) <br />
    
    <input type="submit" value="Update Name" />
}

@Html.ActionLink("Back to group", "Group", new { id = Model.InnerModel.Group.Id })
