@model Forum.Models.EditGroupPermissionsModel
@{
    ViewBag.Title = "Group Permissions";
}

<h2>Editing group @Model.Group.Name</h2>

<h3>Permissions</h3>

@using(Html.BeginForm("EditGroupPermissions", "Admin"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.GroupId);

    foreach (var key in Model.Permissions.Keys)
    {
        @Html.CheckBoxFor(m => m.Permissions[key])
        @Html.LabelFor(m => m.Permissions[key], key) <br />
    }
    
    <input type="submit" value="Update Permissions" />
}

@Html.ActionLink("Back to group", "Group", new { id = Model.Group.Id })
