@model Database.Group
@{
    ViewBag.Title = "Group Members";
}

<h2>Information on group @Model.Name</h2>

@Html.ActionLink("Edit permissions", "EditGroupPermissions", new { id = Model.Id }) <br />
@Html.ActionLink("Edit name", "EditGroupName", new { id = Model.Id })
<h3>Members</h3>
<ul>
    @foreach (var user in Model.UserGroup.Select(ug => ug.User))
    {
        <li>@user.Name</li>
    }
</ul>
<h3>Permissions</h3>
<ul>
    @{
        var groupPerms = (Database.Permissions)Model.Permissions;
        foreach (var value in (Database.Permissions[])Enum.GetValues(typeof(Database.Permissions)))
        {
            if ((value & value - 1) != 0)
            {
                continue;
            }
            
            if((groupPerms & value) != 0)
            {
                <li>@value.ToString()</li>
            }
        }
    }
</ul>

@Html.ActionLink("Back to groups", "Groups")
