@model IEnumerable<Database.Group>
@{
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>
@Html.ActionLink("Create new group", "CreateGroup")
<ul>
    @foreach (var group in Model)
    {
        <li>
            @Html.ActionLink(group.Name, "Group", new { id = group.Id }, null)
            @Html.ActionLink("Edit Permissions", "EditGroupPermissions", new { id = group.Id }, null)
            @Html.ActionLink("Edit Name", "EditGroupName", new { id = group.Id }, null)
            @Html.ActionLink("Add Member", "AddGroupMember", new { id = group.Id }, null)
        </li>
    }
</ul>

@Html.ActionLink("Back to control panel", "Index")
