@model Forum.Models.ThreadCreationModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@if (Model.Error != null)
{
    <div style="color: #d80000">@Model.Error</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ForumId)

    <div>
        @Html.LabelFor(m => m.Thread.Title)
        @Html.TextBoxFor(m => m.Thread.Title)
    </div>
    
    <div>
        @Html.LabelFor(m => m.Post.Content)<br />
        @Html.TextAreaFor(m => m.Post.Content)
    </div>
    
    <input type="submit" value="Create" />
}

@Html.ActionLink("Back to threads", "Index", "Thread", new { id = Model.ForumId }, null)
