@model Forum.Models.ThreadCreationModel
@{
    ViewBag.Title = "Create";
}

<h2>@Model.Forum.Name</h2>
<h3>Create new thread</h3>

@if (Model.Error != null)
{
    <div class="text-danger form-validation-error">@Model.Error</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ForumId)

    <div class="form-group">
        @Html.LabelFor(m => m.Thread.Title, "Title: ")
        @Html.TextBoxFor(m => m.Thread.Title, new { @class = "form-control", style = "width: 300px;" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Post.Content, "Message: ")<br />
        @Html.TextAreaFor(m => m.Post.Content, new { @class = "form-control", rows = "10" })
    </div>
    
    <input type="submit" class="btn btn-primary" value="Create" />
}

@Html.ActionLink("Back to threads", "Index", "Thread", new { id = Model.ForumId }, null)
