@model Forum.Models.ThreadEditModel
@{
    ViewBag.Title = "Edit";
}

<h2>@Model.Thread.Title</h2>
<h3>Edit existing thread</h3>

@if (Model.Error != null)
{
    <div class="text-danger form-validation-error">@Model.Error</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ThreadId)

    <div class="form-group">
        @Html.LabelFor(m => m.NewTitle, "Title: ")
        @Html.TextBoxFor(m => m.NewTitle, new { @class = "form-control", style = "width: 300px;", @value = Model.NewTitle })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.NewContent, "Message: ")<br />
        @Html.TextAreaFor(m => m.NewContent, new { @class = "form-control", rows = "10", @value = Model.NewContent })
    </div>
    
    <input type="submit" class="btn btn-primary" value="Edit" />
}

@Html.ActionLink("Back to thread", "Index", "Thread", new { id = Model.ThreadId }, null)

