@model Forum.ViewModels.ViewModelWrapper<Forum.ViewModels.ThreadViewModel>
@{
    ViewBag.Title = "Threads";
}

<h2>Threads</h2>

<p>
    Forum: @Model.InnerModel.Forum.Name
</p>

<table>
    <tr>
        <th>Author</th>
        <th>Title</th>
    </tr>
    @foreach (var thread in Model.InnerModel.Threads)
    {
        <tr>
            <td>@thread.User.Name</td>
            <td>@Html.ActionLink(thread.Title, "Show", new { id = thread.Id })</td>
        </tr>
    }
</table>

@if(Request.IsAuthenticated)
{
    @Html.ActionLink("Create new thread", "Create", "Thread", new { id = Model.InnerModel.Forum.Id }, null) <br />
}
@Html.ActionLink("Back to forums", "Index", "Forum")
