@model Forum.ViewModels.ThreadViewModel
@{
    ViewBag.Title = "Threads";
}

<h2>@Model.Forum.Name</h2>

<div class="panel panel-default thread-list">
    <table class="table table-bordered">
        <tr>
            <th>Threads</th>
            <th>Posts</th>
            <th>Views</th>
            <th>Last Post</th>
        </tr>
        @foreach (var thread in Model.Threads)
        {
            <tr>
                <td class="title">
                    @Html.ActionLink(thread.Title, "Index", "Thread", new { id = thread.Id }, null) <br />
                    by @thread.User.Name on @thread.CreationTime
                </td>
                <td class="post-count">@thread.Post.Count</td>
                <td class="times-viewed">@thread.TimesViewed</td>
                <td class="last-post"> </td>
            </tr>
        }
        @if (Model.Threads.Count() < 1)
        {
            <tr>
                <td colspan="4">
                    <em>(no posts in forum)</em>
                </td>
            </tr> 
        }
    </table>
</div>

@if(Request.IsAuthenticated)
{
    @Html.ActionLink("Create new thread", "Create", "Thread", new { id = Model.Forum.Id }, new { @class = "btn btn-primary" }) <br />
}
@Html.ActionLink("Back to forums", "Index", "Home")
