@model Forum.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (Model.Error != null)
{
    <div class="text-danger">@Model.Error</div>
}

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.LabelFor(m => m.User.Name, "User Name", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.KeepConnected) Keep Connected
                </label>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Login" />
        </div>
    </div>
}

<p>
    Don't have a account ? @(Html.ActionLink("Register", "Register")).
</p>
