@model Forum.Models.RegisterModel
@{
    ViewBag.Title = "Create";
}

<h2>Register</h2>

@if (Model.Error != null)
{
    <div style="color: #d80000">@Model.Error</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    <div>
        @Html.LabelFor(m => m.User.Name)
        @Html.TextBoxFor(m => m.User.Name)
    </div>
    
    <div>
        @Html.LabelFor(m => m.User.Email)
        @Html.TextBoxFor(m => m.User.Email)
    </div>

    <div>
        @Html.LabelFor(m => m.Password, "Password")
        @Html.PasswordFor(m => m.Password)
    </div>

    <div>
        @Html.LabelFor(m => m.PasswordConfirmation, "Confirm Password")
        @Html.PasswordFor(m => m.PasswordConfirmation)
    </div>
    
    <input type="submit" value="Register" />
}
