@model Forum.Models.RegisterModel
@{
    ViewBag.Title = "Create";
}

<h2>Register</h2>

@if (Model.Error != null)
{
    <div class="text-danger">@Model.Error</div>
}

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
   
    <div class="form-group">
        @Html.LabelFor(m => m.User.Name, "User Name", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.User.Email, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Password", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PasswordConfirmation, "Confirm Password", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.PasswordFor(m => m.PasswordConfirmation, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}
