@model Forum.Models.TestModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    foo: @Model.foo<br />
    bar: @Model.bar
</p>

<p>
    Type: @this.GetType() <br />
    BaseType: @this.GetType().BaseType <br />
    IsNull: @(LayoutModel == null) <br />
    Value: @LayoutModel.CurrentUser.Name <br />
</p>

